<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Auto Waterer</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js" type="text/javascript"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-circular-gauge.min.js"></script>

</head>

<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Auto-Water</a>
                <ul class="right hide-on-med-and-down">
                    <li {%- if request.path == "/" %} class="active"{% endif %}><a href="/">Status</a></li>
                    <li {%- if request.path == "/readme" %} class="active"{% endif %}><a href="/readme">Readme</a></li>
                </ul>
            </div>
        </nav>
        <section class="content">
            {% block header %}{% endblock %}
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
